<div class='hours'>
</div>
<div class="sun weekday">
    <div class="header">
        <span class='day-name'>DOM</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>
<div class="mon weekday">
    <div class="header">
        <span class='day-name'>SEG</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>
<div class="tue weekday">
    <div class="header">
        <span class='day-name'>TER</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>
<div class="wed weekday">
    <div class="header">
        <span class='day-name'>QUA</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>
<div class="thr weekday">
    <div class="header">
        <span class='day-name'>QUI</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>
<div class="fri weekday">
    <div class="header">
        <span class='day-name'>SEX</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>
<div class="sat weekday">
    <div class="header">
        <span class='day-name'>SÁB</span>
        <span class='date'></span>
    </div>
    <div class='schedules'></div>
</div>